
/** {
    box-sizing: border-box;
    margin: 0;
}

nav{
    text-align: center;
    background-color: #9fc5c5;

}

body {
    background-color:#9fc5c5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

form {
    max-width: 400px;
    margin: auto;
}

input {
    width: 100%;
    margin: 5px 0;
}

textarea {
    width: 100%;
    margin: 5px 0;
}

ul {
    list-style: none;
    margin-left: 40%;
}

ul li {
    background: white;
    width: 25%;
    margin: 5px 0;
    padding-bottom: 15px;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 gray;
}

ul li > img {
    border-radius: 20px 20px 0px 0px;
}

#searchBar {
    padding: 0.2rem;
    max-width: 150px;

}

#filterText {
    padding: 0.2rem;
}

#titleInput {
    padding: 0.2rem;
}*/


/* #save {
    background-color: #025c5c;
    padding: 6px 12px;
    font-family: Noto Sans JP, sans-serif;
    border: 1px solid #499191;
    color:#9fc5c5;
    border-radius: 2px;
} */

/*#titleList {
    font-family: 'Reenie Beanie', cursive;
    font: bold;
    font-size: 15px;
    padding: 5px 20px 10px 25px;
    margin-left: 5%;
    margin-right: 5%;
    color: #025c5c;
}

#addFile, #button {
    margin: 10px 0px;
    margin-top: 40px;
}

#addPicture{
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid #025c5c;
    color: #025c5c;
}

div.addNotes {
    margin-top: 4%
}*/


/*LINES TEXTAREA*/
/*textarea {
    color: #000000;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #DDDDDD;
    display: inline-block;
    vertical-align: top;
    
    font-family: 'Reenie Beanie', cursive;
    font-size: 16px;
    color: #025c5c;
    
    line-height: 20px;
    margin: 0;
    padding: 20px 20px 5px;
    resize: none;
    min-height: 400px;
    width: 30%;
    
    background-color: #eaf2fa;
    background-image: -moz-linear-gradient(top, transparent, transparent 19px,#b8c5d3 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 29%, transparent 0%);
    background-image: -webkit-linear-gradient(top, transparent, transparent 19px, #b8c5d3 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%);
    -webkit-background-size: 100% 20px;
    background-size: 100% 20px;
    
    border-radius: 5px;
    border: 1px solid #025c5c;
}
#noteId {
    list-style-type: none;
    font-size: 14px;
    font-family: 'Reenie Beanie', cursive;
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid #025c5c;

    background-color: #eaf2fa;
    background-image: -moz-linear-gradient(top, transparent, transparent 19px,#b8c5d3 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%);
    background-image: -webkit-linear-gradient(top, transparent, transparent 19px, #b8c5d3 0), -webkit-radial-gradient(3% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%);
    -webkit-background-size: 100% 20px;
    background-size: 100% 20px;

    line-height: 20px;


}*/


/*HOME PAGE EFFEKT NOTEPAD*/

/*a.new {
    font-family: 'Reenie Beanie', cursive;
    display: block;
    transform: rotate(90deg); 
    font-size: 18px;
    margin-top: 120px;
    margin-left: 80px;
    color: white;
}

.notebook {
    position: relative;
    display: block; 
    margin-top: 10rem;
    margin-left: 35%;
    margin-right: auto;
    width: 30%;
}
.overlay {
    position: absolute;
    margin-left: 52%;
    margin-top: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 61%;
    width: 19.7%;
    opacity: 0; 
    transition: .5s ease;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    font-family: 'Reenie Beanie', cursive;
    color: rgb(9, 10, 78);
    font-size: 22px;
    position: absolute;
    top: 20%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}*/

/*SIDEBAR*/
/*.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.836);
    overflow-x: hidden;
    padding-top: 20px;
}



#notesList li img {
    border-radius: 20px 20px 0px 0px;
}*/
nav{
    text-align: center;
    background-color: #9fc5c5;

}

body {
    background-color:#9fc5c5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

form {
    max-width: 400px;
    margin: auto;
}

input {
    width: 100%;
    margin: 5px 0;
}

textarea {
    width: 100%;
    margin: 5px 0;
}

ul {
    list-style: none;
    margin-left: 40%;
}

ul li {
    background: white;
    width: 25%;
    margin: 5px 0;
    padding-bottom: 15px;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 gray;
}

ul li > img {
    border-radius: 20px 20px 0px 0px;
}

#searchBar {
    padding: 0.2rem;
    max-width: 150px;

}

#filterText {
    padding: 0.2rem;
}

#titleInput {
    padding: 0.2rem;
}